.App {
    text-align: center;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.Header {
    width: 100%;
    font-size: 5rem;
    h1 {
        color: #443e3e;
        text-shadow: 1px 1px 5px whitesmoke;
        &:hover {
            cursor: pointer;
        }
    }
}

.big {
    font-size: 10rem;
}

/* write your parent styles in here for your App.js */